// ------------------------------------------------------------------
// DROPDOWN MENU(S)
// ------------------------------------------------------------------
// This replicates AD dropdown menus for the header
// All dropdowns in the header with proper classes will be affected.
// ------------------------------------------------------------------
.header-primary__menu__item .adb-context_menu--menu {
	background-color: $ad-white;
	margin-top: 0px;

	li {
		&:first-child {
			a:hover,
			&:hover {}
		}

		&:last-child {
			a:hover,
			&:hover {}
		}

		~ li {}
	}

	a {
		padding: 10px;
		color: $dropdown-item-color;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		display: block;
		line-height: 1em;
		font-size: $dropdown-item-font-size;

		&:hover {
			text-decoration: none;
			box-shadow: none;
			position: relative;
			background-color: $ad-white !important;
			color: #f7931e !important;
		}
	}
}

.companies-dropdown {
	position: relative;

	> a {
		@extend %nav-link;
	}
}

// Show the dropdown containers when the menus are hovered
.adb-context_menu--trigger.adb-is-active + .js-dropdown-container > .adb-context_menu--menu,
.adb-context_menu--trigger.adb-is-active ~ .adb-context_menu--menu {
	display: block;
}
