.footer-primary {
	background-color: $footer-primary-bg;
	border-top: 1px solid $footer-primary-border-top;

	//padding: 1em 0 2em;

	&__container {
		display: flex;
		justify-content: space-between;

		//height: 105px;

		&__leftlist {
			color: $custom-footer-primary-color;
			display: flex;
			font-size: 21px;
			align-items: center;
			height: 105px;
			width: 50%;

			&__item {
				padding: 0 50px 0 0;
			}
		}

		&__rightlist {
			color: $custom-footer-primary-color;
			font-size: 21px;
			display: flex;
			align-items: center;
			width: 50%;
			justify-content: flex-end;

			&__rightlistinside {
				.header-primary__menu__item {
					display: flex;
					justify-content: flex-end;
				}
			}

			&__rightdownlist {
				font-family: 'Noto Sans', sans-serif;
				font-size: 12px;
				-webkit-font-smoothing: antialiased;
				margin-top: -5px;
			}
		}
	}

	a {
		color: $footer-links-color;

		&:hover {
			text-decoration: none;
		}
	}

	.adb-icon__appdirect {
		font-size: 14px;
	}

	.fontawesome {
		height: 20px;
		width: 20px;
	}
}

.fa {
	&:hover {
		color: $custom-font-awesome-hover-color !important;
	}
}

// To make footer sticky need to think about other way of doing this
footer,
.adb-page_footer {
	margin-top: 0 !important;
}
