body, header, footer {
	font-family: "proxima-nova", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

.adb-secondary_nav--link.adb-is-selected {
	border-top: 1px solid $white;
}

.adb-secondary_nav--link.adb-is-selected:before {
	background-color: transparent;
}
