$white: #FFF;
$gray: #eaeaea;
$black: #000;
$purple: #78359f;
$blue: #009abf;


$dropdown-border-color: $gray;
$dropdown-color: $black;
$dropdown-bg: $white;
$dropdown-hover-bg: $blue;
$dropdown-hover-color: $white;

$footer-bg: $gray;

// OTHER VARIABLES
// ---------------------------------------------------------
//      Any other variables that you might need can be placed
//      here.
//      For example, if you notice that you need a custom padding in
//      multiple places it might be worthwhile to create a
//      variable called
// ---------------------------------------------------------
$nav-item-padding: 12px 10px; // example only



$header-menu-border-color: #e6e6e6;
$header-border-bottom-color: #006190;
$header-menu-hover-color: #231f20;
$header-top-bg: linear-gradient(#555555 10%, #363636 90%, #484848 98%, #222222 98%);
$header-primary-bg: linear-gradient(#0094dd 0px, #0083c3 2%);
$primary-color: #0083c3;

$footer-light-gray: #DCDCDC;
$footer-border-color: #c2c2c2;
$footer-border-color2: #cfcfcf;
$footer-border-color3: #aaa;
$font-family: "Helvetica Neue";
$footer-link-color: #555555;


$logo-img: url('https://d3bql97l1ytoxn.cloudfront.net/channel_custom_style_resources/img2658690365678381500?f74efc6d05c9536727c5f21d081f5388');

$voice-icon: url('https://d3bql97l1ytoxn.cloudfront.net/channel_custom_style_resources/img1807658342634229152?3918befdb09dc04ac48d75f02925ff49');

$data-icon: url('https://d3bql97l1ytoxn.cloudfront.net/channel_custom_style_resources/img1046140590860124835?eab2561d94268703721916d8c949e1f8');

$television-icon: url('https://d3bql97l1ytoxn.cloudfront.net/channel_custom_style_resources/img970430530677395372?c8334020251c0d111f52940f178fb75a');

$cloud-icon: url('https://d3bql97l1ytoxn.cloudfront.net/channel_custom_style_resources/img8659106920064636773?90dac80ce535ef4d18f4ad39edb3f45a');

$security-icon: url('https://d3bql97l1ytoxn.cloudfront.net/channel_custom_style_resources/img6569658571429789730?ec98042d482e981b21d6fd87d59a59a2');

$icon-eatel-vision: url('https://d3bql97l1ytoxn.cloudfront.net/channel_custom_style_resources/img8641650627811423147?05360490289fbd8a8a1955298250fb4f');

$icon-eatel-venyu: url('https://d3bql97l1ytoxn.cloudfront.net/channel_custom_style_resources/img7235511315606368725?3cc9183379f9dabe228b5984084c391e');

$icon-eatel-upperline: url('https://d3bql97l1ytoxn.cloudfront.net/channel_custom_style_resources/img3930870328228740576?87b44884b5ad993fc95db1bf17b2f42c');
