// To avoid extra blank space in content area for pages having less content
.adb-page {
	margin-bottom: 0 !important;
	min-height: calc(100vh - #{$footer-height}) !important;
}

.adb-page--footer_helper {
	padding-bottom: 20px !important;
}

.adb-input_row--item_content.adb-search_field--button.adb-button__small {
	width: 28px;
	overflow: hidden;
	color: $custom-search-button-color;
	border-radius: 0;
	border-left: none;
	background: $custom-search-button-background;

	&:hover {
		color: $custom-search-button-color-hover;
	}
}

.adb-input_row--item_content.adb-search_field--input.adb-text__small {
	width: 250px;
	float: right;
	box-shadow: none;
	border-radius: 0;
}

.marketplace--active {
	margin-left: 55px;
}
