// Customize the secondary nav (body)
// ----------------------------------

.adb-secondary_nav {
	.adb-search_field {
		&--button {
			background: $secondary-header-search-bg;
			box-shadow: none;
			color: $secondary-header-search-color;
			text-shadow: none;
			font-weight: 600;
			padding: 4.5px 8px;

			&:hover {
				background: $secondary-header-search-hover-bg;
				color: $secondary-header-search-hover-color;
			}
		}

		.adb-input_row--item_content {
			border: {
				color: $secondary-header-search-input-border;
				radius: 0;
			}

			&:hover {
				border-color: $secondary-header-search-input-hover-border;
			}
		}

		&--input {
			border: 1px solid $secondary-header-search-input-border;
			color: $secondary-header-search-input-color;
		}
	}

	&--item,
	li {
		color: $subnav-header-color;
		font-weight: 800;
		text-transform: uppercase;

		.adb-secondary_nav--link,
		a {
			&.active,
			&.adb-is-selected {
				&:before {
					background-color: $secondary-header-border-color;
				}
			}
		}
	}
}

#subnav-header {
	background-color: $subnav-header-bg;

	a {
		color: $subnav-header-color;
		font-weight: 800;

		&:focus,
		&:hover,
		&.active,
		&:active {
			color: $secondary-header-active-color;
		}

		&:active:before,
		&.active:before {
			background-color: $secondary-header-border-color;
		}
	}
}
// footer sticky css

.adb-page {
	// applying important as v1 and v2 pages have different css applied on id (#content) and class (adb-page)
	margin-bottom: 0 !important;
	min-height: calc(100vh - #{$footer-height}) !important;
}

.adb-page_footer,
footer {
	margin-top: 0;
}
