// ASSETS
// -----------------------------------------------------------------
//      assign your assets to variables here. It is recommended that
//      you use the URLs from the company website whenever possible.
//      and use that url in the SCSS
// -----------------------------------------------------------------

// example
$asset-logo: 'https://www.northlandbusiness.com/images/logo/logo.png';
$header-background-image: 'https://www.northlandbusiness.com/images/assets/squares.png';

// COLORS
// -----------------------------------------------------------------
//      assign your colors to color variables. These are to be used
//      in the custom branding
// -----------------------------------------------------------------
$white: #fff;
$gray: #eaeaea;
$black: #000;
$black-shade: #1f2023;
$blue: #003885;
$blue-shade: #0071bc;
$light-grey: #f0f2f2;
$dark-grey: #ddd;
$dark-grey-shade: #4e565a;
$green: #8cc541;

// COLOR USAGE
// ---------------------------------------------------------
//      assign variables for all of the custom colors for the customization
//      and use only the variables in the actual SCSS.
//      Add as many variables as needed.
// ---------------------------------------------------------
$header-primary-bg: $white;
$header-primary-border-color: $blue;
$header-primary-bg-hover: $white;
$header-primary-link-color: $blue;
$header-primary-link-hover-color: $green;
$header-primary-button-active-bg: $blue;
$header-primary-button-active-color: $white;

$dropdown-border-color: $gray;
$dropdown-color: $black;
$dropdown-bg: $white;
$dropdown-hover-bg: $blue;
$dropdown-hover-color: $white;

$footer-border-color: $gray;

$secondary-header-search-bg: $white;
$secondary-header-search-color: $blue-shade;
$secondary-header-search-input-border: $blue-shade;
$secondary-header-border-color: $green;
$secondary-header-active-color: $blue;
$subnav-header-color: $dark-grey-shade;

// OTHER VARIABLES
// ---------------------------------------------------------
//      Any other variables that you might need can be placed
//      here.
//      For example, if you notice that you need a custom padding in
//      multiple places it might be worthwhile to create a
//      variable called
// ---------------------------------------------------------
$font-family: 'Roboto', sans-serif;

%active-state {
	a {
		color: $header-primary-link-hover-color;
	}
}

$footer-height: 70px;
