// ASSETS
// -----------------------------------------------------------------
//      assign your assets to variables here. It is recommended that
//      you use the URLs from the company website whenever possible.
//      and use that url in the SCSS
// -----------------------------------------------------------------
$asset-logo: "https://www.simplybits.com/images/default-source/template-images/simply_bits.png?sfvrsn=4";

// COLORS
// -----------------------------------------------------------------
//      assign your colors to color variables. These are to be used
//      in the custom branding.
//      For appdirect specific colors use prefix ad-. e.g. $ad-blue: #00f
//      For theme-based colors use prefix custom- e.g. $custom-blue: #00e.
// -----------------------------------------------------------------
$ad-white: #fff;
$ad-white-shade1: #fdfdfd;
$ad-white-shade2: #f5f5f5;
$ad-white-shade3: #f5f5f5;
$custom-blue: #1A79B7;
$custom-orange: #fab727;
$custom-orange1: #FF930A;

$ad-black: #000;
$ad-blue: #00f;
$ad-green: #008000;

$ad-gray-shade1: #9c9c9c;
$ad-gray-shade2: #585858;
$ad-gray-shade3: #575757;
$ad-gray-shade4: #c4c4c4;
$ad-gray-shade5: #808080;
$ad-gray-shade6: #191919;

$primary: $ad-white;
$secondary: $ad-blue;
$tertiary: $ad-gray-shade5;
$emphasis: $ad-green;

// THEME VARIABLES
// -----------------------------------------------------------------
//      variables to customize the header and footer
// -----------------------------------------------------------------
$header-primary-bg: $custom-blue;
$header-primary-border-top-color: $primary;
$header-primary-border-bottom-color: $ad-gray-shade4;
$header-primary-logo-height: 75px;
$header-primary-logo-width: 120px;
$header-primary-font-size: 21px;
$header-primary-font-color: $ad-white;
$header-primary-font-color_hover: $custom-orange1;
$header-primary-color_active: $custom-orange1;

$dropdown-border-color: $ad-gray-shade5;
$dropdown-border_width: 1px;
$dropdown-border-radius: 3px;
$dropdown-item-divider: none;
$dropdown-item-divider_width: 0;
$dropdown-item-color: $ad-white;
$dropdown-bg: $ad-gray-shade6;
$dropdown-item-hover-bg: $ad-black;
$dropdown-item-hover-color: $primary;

$secondary-nav-search-button-color: $ad-gray-shade2;
$secondary-nav-search-button-color_hover: $ad-gray-shade2;
$secondary-nav-search-button-border-color: $ad-gray-shade4;
$secondary-nav-search-button-bg: $ad-white-shade3;
$secondary-nav-search-button-bg_hover: $ad-white-shade1;

$secondary-nav-selected-text-color: $custom-orange;
$secondary-nav-selected-item-border-color: $custom-orange;

$footer-height: 65px;
$footer-primary-bg: transparent;
$footer-primary-border-top: $ad-gray-shade4;
$footer-secondary-bg: $ad-blue;
$footer-links-color: $ad-gray-shade1;

// BUILD THEME CSS
// -----------------------------------------------------------------
@import "settings";

// import computed values
@import "components/INDEX";

// import custom CSS