// ASSETS
// -----------------------------------------------------------------
//      assign your assets to variables here. It is recommended that
//      you use the URLs from the company website whenever possible.
//      and use that url in the SCSS
// -----------------------------------------------------------------
$asset-logo: 'https://ss7.vzw.com/is/image/VerizonWireless/vzw-logo-156-130-c?$pngalpha$&wid=156&hei=35';

// COLORS
// -----------------------------------------------------------------
//      assign your colors to color variables. These are to be used
//      in the custom branding
// -----------------------------------------------------------------
$primary: black;
$secondary: blue;
$tertiary: gray;
$emphasis: green;
$white: #fff;
$hover: #cd040b;
// THEME VARIABLES
// -----------------------------------------------------------------
//      variables to customize the header and footer
// -----------------------------------------------------------------
$header-primary-bg: $white;
$header-primary-border-top-color: $primary;
$header-primary-border-top-color: #4b4b4b;
$header-primary-logo-height: 50px;
$header-primary-logo-width: 180px;
$header-primary-font-size: 22px;
$header-primary-font-weight: 700;
$header-primary-font-family: 'Helvetica';
$header-primary-font-color: black;
$header-primary-font-color_hover: $hover;

$dropdown-border-color: gray;
$dropdown-border_width: 1px;
$dropdown-border-radius: 3px;
$dropdown-item-divider: $dropdown-border-color;
$dropdown-item-divider_width: 1px;
$dropdown-item-color: black;
$dropdown-bg: $white;
$dropdown-item-hover-bg: #4b4b4b;
$dropdown-item-hover-color: $white;

$search-input-btn: #4b4b4b;

$footer-primary-bg: transparent;
$footer-primary-border-top: $header-primary-border-top-color;
$footer-secondary-bg: blue;

// BUILD THEME CSS
// -----------------------------------------------------------------
@import 'settings'; // import computed values
@import 'components/INDEX'; // import custom CSS
