.adb-page {
	margin-bottom: 0 !important;
	min-height: calc(100vh - #{$footer-height}) !important;
}

.adb-page--footer_helper {
	padding-bottom: 20px !important;
}

// ----------------------------------
// Customized secondary nav
// ----------------------------------
.adb-secondary_nav {
	.adb-search_field {
		&--input {
			border: 1px solid $primary-button-bg;
			border-right: 0;
		}

		&--button {
			color: $primary-button-color;
			background: $primary-button-bg;
			border: 1px solid $primary-button-bg;
			box-shadow: none;
			text-shadow: none;
			font-weight: 600;
			padding: 4.5px 8px;

			&:hover {
				background: $primary-button-hover-bg;
				border: 1px solid $primary-button-hover-bg;
			}
		}
	}

	&--item,
	li {
		.adb-secondary_nav--link,
		a {
			&.active,
			&.adb-is-selected {
				&::before {
					background-color: $primary-button-bg;
				}
			}
		}
	}
}

#subnav-header {
	a {
		color: $secondary-nav-text-color;

		&:focus,
		&:hover,
		&.active,
		&:active {
			color: $secondary-nav-selected-text-color;
		}

		&:active::before,
		&.active::before {
			background-color: $secondary-nav-selected-item-border-color;
		}
	}
}
