html
    body
        h1
            | Page not found!
            h4
                h4
                    | Try&nbsp;
                    a(href='/themes/acme/default/logged-out') Acme
                    | &nbsp;?
