// ------------------------------------------------------------
// Custom Header Top
// ------------------------------------------------------------
.header-top {
	background: $header-link-color;
	height: 10px;
}

// ------------------------------------------------------------
// Custom Header Primary
// ------------------------------------------------------------
.header-primary {
	background: $header-primary-bg;
	height: 75px;
	padding: 10px 0;

	&__menu {
		display: flex;
		flex-direction: row;
		list-style: none;

		&__logo {
			margin-left: 0 !important;

			img {
				width: 270px;
				height: 75px;
			}
		}

		&__nav {
			display: flex;
			margin-top: -8px;
			align-items: center;
			justify-content: flex-end;
		}

		&__right {
			margin-left: auto;
		}

		&__item {
			margin-left: 20px;

			a {
				display: inline-block;
				color: $header-link-color;
				text-transform: uppercase;
				font: {
					family: $font-family;
					size: 1.25em;
					weight: 800;
				};

				&:hover {
					text-decoration: none;
					color: $header-link-hover-color;
				}

			}

		}
	}
}

// ------------------------------------------------------------
// Custom Header Secondary
// ------------------------------------------------------------
.header-secondary {
	
}

// ------------------------------------------------------------
// CSS workaround to display active tab(s)
//  - - - - - - - - - - - - - - > PLEASE DELETE IF NOT REQUIRED
// ------------------------------------------------------------
body[data-page='home'],
body[data-page='listing'],
body[data-page='profile'] {
	.marketplace--active {
		
	}
}

body.myappsV2Page {
	.myapps--active {
		
	}
}

body.loginPage {
	.login--active {
		
	}
}

body.signupPage {
	.signup--active {
		
	}
}
