h2.section-title Marketplace Buttons
.buttons-container
    button.adb-button Default Button
    button.adb-button.adb-button__primary Primary Button
    button.adb-button.adb-button__secondary Secondary Button
    button.adb-button.adb-button__tertiary Tertiary Button
    button.adb-button.adb-button__neutral Neutral Button
    button.adb-button.adb-button__emphasis Emphasis Button
    button.adb-button.adb-button__danger Danger Button
    button.adb-button.adb-button__secret Secret Button
    button.adb-button.adb-button__small Small
    menu.adb-toggle_buttons.adb-toolbar--item
      button.adb-toggle_buttons--button.adb-button__square_small.adb-js-slider-prev(type='button', disabled='disabled')
        i.adb-icon__arrow_left
      button.adb-toggle_buttons--button.adb-button__square_small.adb-js-slider-next(type='button')
        i.adb-icon__arrow_right
