body {
	font-family: Arial,sans-serif;
}

.adb-page {
	margin-bottom: 0 !important;
	min-height: calc(100vh - #{$footer-height}) !important;
}

.adb-page--footer_helper {
	padding-bottom: 20px !important;
}

.adb-tertiary_nav {
	&--link {
		color: black;

		&:before {
			background-color: $primary;
		}
	}
}
