$white: #FFF;
$gray: #eaeaea;
$black: #000;
$purple: #78359f;
$blue: #009abf;
$header-primary-bg: $purple;
$dropdown-border-color: $gray;
$dropdown-color: $black;
$dropdown-bg: $white;
$dropdown-hover-bg: $blue;
$dropdown-hover-color: $white;
$footer-bg: $gray;

$nav-item-padding: 12px 10px; // example only


$header-top-bg-color: #f2f2f2;
$header-top-border-color: #d6d6d6;
$header-top-link-color: #666;
$header-link-hover-color: #00853F;
$sprite-img : url("https://d3bql97l1ytoxn.cloudfront.net/channel_custom_style_resources/img7267164556951733129?e82cce9a713cfd146663d33f8137196a");

