// ----------------------------------
// Customized secondary nav
// ----------------------------------
.adb-secondary_nav {
	background-color: $custom-header-top-bg-color !important;
	border-bottom: 0 solid transparent;

	.adb-search_field {
		&--input {
			border: 1px solid $secondary-nav-search-button-bg_hover;
			border-right: 0;
		}

		&--button {
			color: $secondary-nav-search-button-color;
			border: 1px solid $secondary-nav-search-button-border-color;
			background: $secondary-nav-search-button-bg;
			border-radius: 0 3px 3px 0;
			box-shadow: none;
			text-shadow: none;
			font-weight: 600;
			padding: 3px 8px;

			&:hover {
				color: $secondary-nav-search-button-color_hover;
				background: $secondary-nav-search-button-bg_hover;
			}
		}

		.adb-input_row--item_content {
			border: {
				color: $secondary-nav-search-button-border-color;
				border-radius: 0 3px 3px 0;
			};
		}
	}

	&--items {
		padding: 0 15px 0 15px;
		background-color: $custom-header-top-background-color;
		border-bottom: 1px solid $custom-secondary-nav-border-color;
	}

	&--item,
	li {
		.adb-secondary_nav--link,
		a {
			&.active,
			&.adb-is-selected {
				&::before {
					color: $custom-login-button-green-color;
					background-color: $secondary-nav-selected-item-border-color;
				}
			}
		}
	}
}

#subnav-header {
	a {
		&:focus,
		&:hover,
		&.active,
		&:active {
			color: $secondary-nav-selected-text-color !important;
		}

		&:active::before,
		&.active::before {
			background-color: $secondary-nav-selected-item-border-color !important;
		}
	}

	& .wrapper {
		padding: 0 20px;
	}
}

#secondaryNav {
	.adb-is-selected {
		color: $secondary-nav-selected-text-color;

		&:before {
			background-color: $secondary-nav-selected-item-border-color;
		}
	}
}
