$std-header-margin: 150px;
$border-bottom-color: #c4c4c4;
$std-header-logo-height: 21px;
$std-header-logo-width: 24px;
$sec-header-color: #0091cb;

$primary-color: #1b95e0;
$primary-white: #fff;
$primary-hover-blue: #00739d;
$link-hover-blue: #1da1f2;

$button-font-size: 13px;

$body-color: #f5f8fa;