// ------------------------------------------------------------
// Custom Header Primary
// ------------------------------------------------------------
.header-primary {
	height: $header-primary-height;
	background: $header-primary-bg;
	border-bottom: 1px solid $header-primary-border-color;

	&__menu {
		display: flex;
		list-style: none;
		align-items: center;
		height: $header-primary-height;


		&__item {
			color: $header-primary-color;
			text-transform: capitalize;

			&--link,
			.adb-context_menu--trigger {
				display: flex;
				align-items: center;
				color: $header-primary-color;
				height: 50px;
				margin-left: 10px;
				font-size: 17px;
				padding: 0px 16px;

				&:hover {
					color: $header-primary-hover-color;
					background:  $header-primary-hover-bg;
					text-decoration: none;
				}

				&:after {
					content: "";
				}
			}

			&--logo {
				display: block;
				background: url($asset-logo) no-repeat;
				background-size: 100% 100%;
				height: 71px;
				padding: 0;
				width: 150px;

			}

			&:last-child {
				margin-right: 0;
			}
		}

		.fRight {
			display: flex;
			align-items: center;
			margin: auto 0 auto auto;
		}
	}
}

// ------------------------------------------------------------
// CSS workaround to display active tab(s)
//  - - - - - - - - - - - - - - > PLEASE DELETE IF NOT REQUIRED
// ------------------------------------------------------------

%active-state {

	.header-primary__menu__item--link {
		font-weight: bold;

		&:hover {
			font-weight: normal;
		}
	}
}

body[data-page='home'],
body[data-page='listing'],
body[data-page='profile'] {

	.marketplace--active {
		@extend %active-state;

	}
}

body.myappsV2Page {

	.myapps--active {
		@extend %active-state;
	}
}

body.loginPage {

	.login--active {
		@extend %active-state;

	}
}

body.signupPage {

	.signup--active {
		@extend %active-state;
	}
}
