// ASSETS
// -----------------------------------------------------------------
//      assign your assets to variables here. It is recommended that
//      you use the URLs from the company website whenever possible.
//      and use that url in the SCSS
// -----------------------------------------------------------------
$asset-logo: 'http://www.videotron.com/vcom/static/img/logo/head-videotron-logo-black.png';

// COLORS
// -----------------------------------------------------------------
//      assign your colors to color variables. These are to be used
//      in the custom branding
// -----------------------------------------------------------------
$primary: #000;
$secondary: #00f;
$tertiary: #808080;
$emphasis: #008000;

// THEME VARIABLES
// -----------------------------------------------------------------
//      variables to customize the header and footer
// -----------------------------------------------------------------
$header-top-bg: #000;
$header-top-border-bottom-color: #fff;
$header-top-height: 40px;
$header-top-font-size: 12px;
$header-top-font-color: #808080;
$header-top-font-color-hover: #fff;

$header-primary-bg: #f5f5f5;
$header-primary-logo-height: 60px;
$header-primary-logo-width: 100px;
$header-primary-font-size: 16px;
$header-primary-font-color: #000;
$header-primary-font-color-hover: #808080;

$dropdown-border-color: #808080;
$dropdown-border-width: 1px;
$dropdown-border-radius: 3px;
$dropdown-item-divider: $dropdown-border-color;
$dropdown-item-divider-width: 1px;
$dropdown-item-color: #000;
$dropdown-bg: #fff;
$dropdown-item-hover-bg: $primary;
$dropdown-item-hover-color: #fff;

$footer-primary-bg: transparent;
$footer-primary-border-top: #eaeaea;
$footer-secondary-bg: #00f;

// BUILD THEME CSS
// -----------------------------------------------------------------
@import 'settings'; // import computed values
@import 'components/INDEX'; // import custom CSS
