$header-primary-logo-margin-top: 15px;
$header-primary-height: 68px;
$header-primary-font-color_active: $header-primary-font-color_hover;
$dropdown-item-font-size: $header-primary-font-size * .875;

// generates the link styling in the header. Needed as the
// companies dropdown has slightly different classes than other dorpdowns.
%nav-link {
	color: $header-primary-font-color;
	font-size: $header-primary-font-size;
	margin-left: 1.5em;
	text-transform: uppercase;

	&:focus,
	&:hover {
		color: $header-primary-font-color_hover;
		text-decoration: none;
	}
}

// generates the active state for the header nav.
%active-state {
	color: $header-primary-font-color_hover;
}
