body {
	font-family: $font-sans-serif;
}

.adb-page {
	margin-bottom: 0 !important;
	min-height: calc(100vh - #{$footer-height}) !important;
}

// ----------------------------------
// Customized secondary nav
// ----------------------------------
.adb-secondary_nav {

	.adb-search_field {

		&--button {
			color: $primary-button-color;
			background: $primary-button-bg;
			border: 1px solid $primary-button-bg;
			box-shadow: none;
			text-shadow: none;
			font-weight: 600;
			padding: 4.5px 8px;

			&:hover {
				box-shadow: inset 0 0 30px 1px $primary-button-bg;
			}
		}

		.adb-input_row--item_content {
			border: {
				color: $primary-button-bg;
				radius: 0;
			}
		}

		&--input {
			border: 1px solid $primary-button-bg;
		}
	}

	&--item,
	li {

		.adb-secondary_nav--link,
		a {
			&.active,
			&.adb-is-selected {

				&::before {
					background-color: $primary-button-bg;
				}
			}
		}
	}
}

#subnav-header {

	a {
		&:focus,
		&:hover,
		&.active,
		&:active {
			color: $primary-button-bg;
		}

		&:active::before,
		&.active::before {
			background-color: $primary-button-bg;
		}
	}
}
