@import 'components/_INDEX';

// ------------------------------------------------------------
// Use the BEM method for writing SCSS
//
// More info here
// --------------
// 1. https://css-tricks.com/bem-101/
// 2. https://medium.com/objects-in-space/objects-in-space-f6f404727#.864tiw7qu
// 3. http://csswizardry.com/2013/01/mindbemding-getting-your-head-round-bem-syntax/
// ------------------------------------------------------------

// NO CODE IN THIS FILE PLEASE
.adb-search_field--button {
	background-color: $header-top-bg !important;
	text-shadow: none;
	border: 1px solid $search-input-btn-border;
	border-left: none;
	box-shadow: none;
	color: $white;

	&:hover {
		border: 1px solid $search-input-btn-border;
		box-shadow: none;
		border-left: transparent;
		color: $white;
	}
}
