// ASSETS
// -----------------------------------------------------------------
//      assign your assets to variables here. It is recommended that
//      you use the URLs from the company website whenever possible.
//      and use that url in the SCSS
// -----------------------------------------------------------------
$asset-logo: "https://www.bmo.com/resources/images/logos/bank-of-montreal/bank-of-montreal-en-tag-2x.png";

$custom-profile-icon: "https://www.bmo.com/resources/icons/bmo-icon.eot?74eve3";

// COLORS
// -----------------------------------------------------------------
//      assign your colors to color variables. These are to be used
//      in the custom branding.
//      For appdirect specific colors use prefix ad-. e.g. $ad-blue: #00f
//      For theme-based colors use prefix custom- e.g. $custom-blue: #00e.
// -----------------------------------------------------------------
$ad-white: #fff;
$ad-white-shade1: #fdfdfd;
$ad-white-shade2: #f5f5f5;
$ad-white-shade3: #f5f5f5;

$ad-black: #000;
$ad-blue: #00f;
$ad-green: #008000;

$ad-gray-shade1: #9c9c9c;
$ad-gray-shade2: #585858;
$ad-gray-shade3: #575757;
$ad-gray-shade4: #c4c4c4;
$ad-gray-shade5: #808080;

$custom-gray: #e6e6e6;
$custom-gray-shade1: #414141;
$custom-blue: #0079c1;
$custom-blue-shade2: #1d4e75;
$custom-hover-shade1: #66a6ca;
$custom-button-hover: #1a4d78;

$primary: $custom-blue;
$secondary: $ad-blue;
$tertiary: $ad-gray-shade5;
$emphasis: $ad-green;
$font-family: customheaderfont;

$footer-bottom-font-size: 0.866em;

// THEME VARIABLES
// -----------------------------------------------------------------
//      variables to customize the header and footer
// -----------------------------------------------------------------
$header-top-bg: $primary;
$header-top-border-bottom-color: #fff;
$header-top-height: 43px;
$header-top-font-size: 0.866em;
$header-top-font-color: $ad-white;
$header-top-font-color-hover: #fff;
$header-top-hover-color: $custom-hover-shade1;

$header-primary-bg: $ad-white;
$header-primary-border-top-color: $primary;
$header-primary-border-bottom-color: $custom-gray;
$header-primary-logo-height: 50px;
$header-primary-logo-width: 325px;
$header-primary-font-size: 0.933em;
$header-primary-font-color: $custom-gray-shade1;
$header-primary-font-color_hover: $ad-gray-shade5;
$header-primary-color_active: $primary;

$dropdown-border-color: transparent;
$dropdown-border_width: 1px;
$dropdown-border-radius: 3px;
$dropdown-item-divider: transparent;
$dropdown-item-divider_width: 1px;
$dropdown-item-color: $header-primary-font-color;
$dropdown-bg: $ad-white;
$dropdown-item-hover-bg: transparent;
$dropdown-item-hover-color: $primary;

$secondary-nav-search-button-color: $ad-white;
$secondary-nav-search-button-color_hover: $ad-white;
$secondary-nav-search-button-border-color: $primary;
$secondary-nav-search-button-bg: $primary;
$secondary-nav-search-button-bg_hover: $custom-button-hover;

$secondary-nav-selected-text-color: $primary;
$secondary-nav-selected-item-border-color: $primary;

$footer-height: 119px;
$footer-primary-bg: $primary;
$footer-primary-border-top: $ad-gray-shade4;
$footer-secondary-bg: $ad-blue;
$footer-links-color: $ad-white;

// BUILD THEME CSS
// -----------------------------------------------------------------
@import "settings";

// import computed values
@import "components/INDEX";
