$white: #FFF;
$orange: #FDB913;
$logo-url: url(http://mygrande.com/images/Grande-Logo-Website.svg);

$menu-sublinks-color: #455560;
$menu-sublinks-hover-color: #728b99;
$menu-link-hover-color: $white;
$menu-footer-hover-color: #1a2125;

$top-header-border-color: #465660;
$top-header-color: #8DC63F;
$link-green-color: #84c446;
$active-link-color: #d9d9d9;
$header-primary-bg: $white;
$menu-link-color: #101416;
$primary-header-bg-img: "http://mygrande.com/images/header-bg.png";
$primary-color: #05ade9;
$primary-color-hover: #da9b04;


$footer-height: 150px;
$dropdown-bg: #222;
$dropdown-hover-bg: #3c3c3c;
