#secondaryNav {
	.adb-search_field--input {
		border-color: $black;
	}

	.adb-search_field--button {
		background-color: $black;
		border-color: $black;
		color: $white;
		box-shadow: none;
		text-shadow: none;
	}
}
