// ------------------------------------------------------------
// Custom Header Primary
// ------------------------------------------------------------
.header-primary {
	background: $white;
	height: 75px;
	border-bottom: 1px solid $theme-color;

	&-container {
		display: flex;

		&__item {
			width: 50%;
			display: flex;
			&.pull-right {
				justify-content: flex-end;
			}
		}
	}

	&__menu {
		display: flex;
		flex-direction: row;
		list-style: none;

		&__item {
			margin: {
				left: 20px;
			}
			height: 24px;

			&.logo-container {
				background-color: $white;
				width: 275px;
				height: 75px;
				padding: 0px 10px;

				&:hover {
					background-color: $white;
				}
			}

			&:first-of-type {
				margin-left: 0px;
				padding:0px;
			}

			&.middle {
				padding: 30px 10px;
			}

			&.last-links {
				padding-right: 0px;
			}

			&--logo {
				background: {
					image: $logo;
					size: contain;
					repeat: no-repeat;
				}
				width: 275px;
				height: 45px;
				display: flex;
				margin-top: 20px;
			}



			&--link {
				text-transform: uppercase;
				color: $primary-color;
				font:{
					size: 20px;
					weight: 500;
				}

				&:hover {
					text-decoration: none;
					font-weight: bold;
				}
			}

			&--button {
				padding:8px 15px;
				background: $link-color;
				color: #FFF;
				border-radius: 6px;
				text-decoration: none;
				text-transform: uppercase;
				font:{
					size: 13px;
					weight: normal;
				}

				&:hover {
					text-decoration: none;
					background: $link-hover-color;
					color: $white;
				}
			}
		}
	}
}
