// ------------------------------------------------------------------
// DROPDOWN MENU(S)
// ------------------------------------------------------------------
// This replicates AD dropdown menus for the header
// All dropdowns in the header with proper classes will be affected.
// ------------------------------------------------------------------
.header-primary__menu__item .adb-context_menu--menu {
	background-color: $dropdown-bg;
	border: $dropdown-border_width solid $dropdown-border-color;
	border-radius: $dropdown-border-radius;
	margin-top: 0;

	li {
		&:first-child {
			a:hover,
			&:hover {
				border-radius: $dropdown-border-radius $dropdown-border-radius 0 0;
			}

			&:last-child {
				a:hover,
				&:hover {
					border-radius: 0 0 $dropdown-border-radius $dropdown-border-radius;
				}
			}

			~ li {}
		}

		a {
			padding: 10px;
			color: $dropdown-item-color;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			display: block;
			line-height: 1em;
			font-size: $dropdown-item-font-size;
			font-family: 'Lato', sans-serif !important;
			font-size: 16px;
			font-feature-settings: "liga" 0;

			&:hover {
				text-decoration: underline;
				box-shadow: none;
				position: relative;
				background: $dropdown-item-content-hover-color !important;
			}
		}
	}
}

.companies-dropdown {
	position: relative;

	> a {
		@extend %nav-link;

		&:hover {
			background: $header-primary-menu-item-right-hover-background !important;
			color: $header-primary-menu-item-right-hover-color;
		}
	}
}

// Show the dropdown containers when the menus are hovered
.adb-context_menu--trigger.adb-is-active + .js-dropdown-container > .adb-context_menu--menu,
.adb-context_menu--trigger.adb-is-active ~ .adb-context_menu--menu {
	display: block;
}
