# This file is for unifying the coding style for different editors and IDEs
# http://editorconfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8

# Tab indentation, tab_width user-customizable
[*.{js,scss,java,json,html}]
indent_style = tab
indent_size = tab

[*.{js,scss,java,json}]
trim_trailing_whitespace = true
