// ------------------------------------------------------------------
// DROPDOWN MENU(S)
// ------------------------------------------------------------------
// This replicates AD dropdown menus for the header
// All dropdowns in the header with proper classes will be affected.
// ------------------------------------------------------------------
.header-primary__menu__item .adb-context_menu--menu {
	background-color: $dropdown-bg;

	//border: $dropdown-border_width solid $dropdown-border-color;
	border-radius: $dropdown-border-radius;
	margin-top: -30px;
	box-shadow: 0 0 9px $ad-gray-shade5;

	a {
		padding: 10px;
		color: $dropdown-item-color;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		display: block;
		line-height: 1em;
		font-size: $dropdown-item-font-size;

		&:hover {
			text-decoration: none;
			box-shadow: none;
			position: relative;
			color: $dropdown-item-hover-color;
		}
	}
}

.companies-dropdown {
	position: relative;

	> a {
		@extend %nav-link;
	}
}

.adb-context_menu--trigger.adb-is-active + .js-dropdown-container > .adb-context_menu--menu,
.adb-context_menu--trigger.adb-is-active ~ .adb-context_menu--menu {
	display: block;
}
