// ASSETS
// -----------------------------------------------------------------
//      assign your assets to variables here. It is recommended that
//      you use the URLs from the company website whenever possible.
//      and use that url in the SCSS
// -----------------------------------------------------------------
$asset-logo: "http://www.softchoice.com//img/ui/sc-logo-white.png";

// COLORS
// -----------------------------------------------------------------
//      assign your colors to color variables. These are to be used
//      in the custom branding.
//      For appdirect specific colors use prefix ad-. e.g. $ad-blue: #00f
//      For theme-based colors use prefix custom- e.g. $custom-blue: #00e.
// -----------------------------------------------------------------
$ad-white: #fff;
$ad-white-shade1: #fdfdfd;
$ad-white-shade2: #f5f5f5;
$ad-white-shade3: #f5f5f5;

$ad-black: #000;
$ad-blue: #00f;
$ad-green: #008000;

$ad-gray-shade1: #9c9c9c;
$ad-gray-shade2: #585858;
$ad-gray-shade3: #575757;
$ad-gray-shade4: #c4c4c4;
$ad-gray-shade5: #808080;

$primary: $ad-black;
$secondary: $ad-blue;
$tertiary: $ad-gray-shade5;
$emphasis: $ad-green;

$custom-orange: #F68426;
$custom-gray: #E9E9E9;
$custom-hover-bg: #D4D4D4;

// THEME VARIABLES
// -----------------------------------------------------------------
//      variables to customize the header and footer
// -----------------------------------------------------------------
$header-primary-bg: $custom-orange;
$header-primary-border-top-color: $primary;
$header-primary-border-bottom-color: $ad-gray-shade4;
$header-primary-logo-height: 64px;
$header-primary-logo-width: 180px;
$header-primary-font-size: 16px;
$header-primary-font-color: $ad-white;
$header-primary-font-color_hover: $ad-gray-shade5;
$header-primary-color_active: $ad-black;

$dropdown-border-color: $ad-white;
$dropdown-border_width: 1px;
$dropdown-border-radius: 3px;
$dropdown-item-divider: $dropdown-border-color;
$dropdown-item-divider_width: 1px;
$dropdown-item-color: $ad-black;
$dropdown-bg: $ad-white;
$dropdown-item-hover-bg: $custom-hover-bg;
$dropdown-item-hover-color: $ad-black;

$secondary-nav-search-button-color: $ad-white;
$secondary-nav-search-button-color_hover: $custom-orange;
$secondary-nav-search-button-border-color: $ad-black;
$secondary-nav-search-button-bg: $custom-orange;
$secondary-nav-search-button-bg_hover: $ad-white-shade1;

$secondary-nav-selected-text-color: $ad-black;
$secondary-nav-selected-item-border-color: transparent;

$footer-height: 65px;
$footer-primary-bg: $custom-gray;
$footer-primary-border-top: $ad-gray-shade4;
$footer-secondary-bg: $ad-blue;
$footer-links-color: $ad-gray-shade1;

// BUILD THEME CSS
// -----------------------------------------------------------------
@import "settings";

// import computed values
@import "components/INDEX";

// import custom CSS
