// ASSETS
// -----------------------------------------------------------------
//      assign your assets to variables here. It is recommended that
//      you use the URLs from the company website whenever possible.
//      and use that url in the SCSS
// -----------------------------------------------------------------
$asset-logo: "https://webcdn2.cox.com/ui/presentation/tsw/img/menu.png";

// COLORS
// -----------------------------------------------------------------
//      assign your colors to color variables. These are to be used
//      in the custom branding.
//      For appdirect specific colors use prefix ad-. e.g. $ad-blue: #00f
//      For theme-based colors use prefix custom- e.g. $custom-blue: #00e.
// -----------------------------------------------------------------
$ad-white: #fff;
$ad-white-shade1: #fdfdfd;
$ad-white-shade2: #f5f5f5;
$ad-white-shade3: #f5f5f5;

$ad-black: #000;
$ad-blue: #00f;
$ad-green: #008000;

$ad-gray-shade1: #9c9c9c;
$ad-gray-shade2: #585858;
$ad-gray-shade3: #575757;
$ad-gray-shade4: #c4c4c4;
$ad-gray-shade5: #808080;

$custom-blue: #0679ca;
$custom-dropdown-blue: #03406a;
$custom-top-border: #00192a;

$primary: $custom-blue;
$secondary: $ad-blue;
$tertiary: $ad-gray-shade5;
$emphasis: $ad-green;

// THEME VARIABLES
// -----------------------------------------------------------------
//      variables to customize the header and footer
// -----------------------------------------------------------------
$header-primary-bg: $primary;
$header-primary-border-top-color: $custom-top-border;
$header-primary-logo-height: 40px;
$header-primary-logo-width: 105px;
$header-primary-font-size: 16px;
$header-primary-font-color: $ad-white;
$header-primary-font-color_hover: $ad-black;
$header-primary-color_active: $ad-white;

$dropdown-border-color: $ad-gray-shade5;
$dropdown-border_width: transparent;
$dropdown-border-radius: 1px;
$dropdown-item-divider: $dropdown-border-color;
$dropdown-item-divider_width: 0;
$dropdown-item-color: $custom-dropdown-blue;
$dropdown-bg: $ad-white;
$dropdown-item-hover-bg: $ad-white;
$dropdown-item-hover-color: $primary;

$secondary-nav-search-button-color: $ad-white;
$secondary-nav-search-button-color_hover: $ad-white;
$secondary-nav-search-button-border-color: $primary;
$secondary-nav-search-button-bg: $primary;
$secondary-nav-search-button-bg_hover: $primary;

$secondary-nav-selected-text-color: $primary;
$secondary-nav-selected-item-border-color: $primary;

$footer-height: 51px;
$footer-primary-bg: transparent;
$footer-primary-border-top: $ad-gray-shade1;
$footer-secondary-bg: $ad-gray-shade1;
$footer-links-color: $ad-gray-shade1;

// BUILD THEME CSS
// -----------------------------------------------------------------
@import "settings";

// import computed values
@import "components/INDEX";

// import custom CSS