// ------------------------------------------------------------
// Custom Header Top
// ------------------------------------------------------------
.header-top {
	background: $header-primary-bg;
	height: 30px;

	&__menu {
		display: flex;
		flex-direction: row;
		list-style: none;

		&--nav {
			display: flex;
			align-items: center;
			justify-content: flex-end;

			&__middle {
				margin-left: 180px;

				&--link {
					margin-top: 15px;
				}
			}

			&__right {
				margin-left: auto;

				a {
					color: $header-top-blue-link;
				}

				li {
					padding: 0 15px;
					margin-left: 0;
					color: $header-top-blue-link;
					border-left: 2px solid $header-top-link-border;

					&:first-child {
						border: transparent;
					};
				}

				&--link {
					margin-top: 50px;
				}

				&--phone {
					text-align: right;
					margin-bottom: 10px;
					font-size: 24px;
					font-weight: 700;
					color: $phone-color;
					line-height: 1.3;
				}

				&--btn_blue {
					text-align: left;
					border: transparent;
					box-shadow: none;
					text-shadow: none;
					line-height: 22px;
					outline: none;
					padding: 10px 30px;
					font-size: 18px;
					text-decoration: none;
					font-family: $custom-font;
					font-weight: 300;
					background: $blue-btn-bg;
					color: $white !important;
					cursor: pointer;
					border-radius: 0;

					a {
						color: $white;

						&:hover {
							padding-bottom: 0 !important;
							border-bottom: 0 !important;
						}
					}
				}
			}
		}

		&__item {
			margin-left: 20px;

			a {
				display: inline-block;
				text-decoration: none;
				font: {
					family: $custom-font;
					size: 15px;
					weight: 300;
				};

				&::after {
					display: block;
					content: $content-blank;
					width: 0;
					height: 2px;
					background: $color-active;
					// transition: width .9s;
				}

				&:hover::after {
					width: 100%;
				}
			}

			&__selected {
				a {
					&::after {
						display: block;
						content: $content-blank;
						width: 100%;
						height: 2px;
						background: $color-active;
					}
				}
			}

			&--logo {
				img {
					margin-top: -25px;
				}

				&:hover::after {
					width: 0% !important;
				}
			}

			&--link {
				color: $link-color;
			}
		}
	}
}

// ------------------------------------------------------------
// Custom Header Primary
// ------------------------------------------------------------
.header-primary {
	background: $header-primary-bg;
	height: auto;

	&.adb-is-active {
		&::after {
			display: block;
			content: $content-blank;
			width: 100% !important;
			height: 2px;
			background: $color-active;
		}
	}

	&__menu {
		display: flex;
		flex-direction: row;
		list-style: none;

		&__logo {
			margin-left: 0 !important;

			a {
				&:hover::after {
					width: 0 !important;
				}
			}
		}

		&--nav {
			display: flex;
			align-items: center;
			justify-content: flex-end;

			&__middle {
				margin-left: 65px;
				margin-right: auto;

				&--link {
					margin-top: 0;
				}
			}

			&__right {
				margin-left: 0;

				&--link {
					margin-top: 50px;
				}

				&--phone {
					text-align: right;
					margin-bottom: 10px;
					font-size: 24px;
					font-weight: 700;
					color: $phone-color;
					line-height: 1.3;
				}

				&--btn_blue {
					text-align: left;
					border: transparent;
					box-shadow: none;
					text-shadow: none;
					line-height: 22px;
					outline: none;
					padding: 10px 30px;
					font-size: 18px;
					text-decoration: none;
					font-family: $custom-font;
					font-weight: 300;
					background: $blue-btn-bg;
					color: $white !important;
					cursor: pointer;
					border-radius: 0;

					a {
						color: $white;

						&:hover {
							padding-bottom: 0 !important;
							border-bottom: 0 !important;
						}
					}
				}
			}
		}

		&__item {
			margin-left: 20px;

			a {
				font-family: $custom-font;
				font-size: 22px;
				text-decoration: none;
				font-weight: 300;

				&::after {
					display: block;
					content: $content-blank;
					width: 0;
					height: 2px;
					background: $color-active;
					// transition: width .9s;
				}

				&:hover::after {
					width: 100%;
				}
			}

			&__selected {
				a {
					&::after {
						display: block;
						content: $content-blank;
						width: 100%;
						height: 2px;
						background: $color-active;
					}
				}
			}

			&--logo {
				img {
					margin-top: -25px;
				}
			}

			&--link {
				color: $link-color;
			}
		}
	}
}

// ------------------------------------------------------------
// Custom Header Secondary
// ------------------------------------------------------------
.header-secondary {
}

// ------------------------------------------------------------
// CSS workaround to display active tab(s)
//  - - - - - - - - - - - - - - > PLEASE DELETE IF NOT REQUIRED
// ------------------------------------------------------------
body[data-page='home'],
body[data-page='listing'],
body[data-page='profile'] {
	.marketplace--active {
	}
}

body.myappsV2Page {
	.myapps--active {
	}
}

body.loginPage {
	.login--active {
	}
}

body.signupPage {
	.signup--active {
	}
}
