// ASSETS
// -----------------------------------------------------------------
//      assign your assets to variables here. It is recommended that
//      you use the URLs from the company website whenever possible.
//      and use that url in the SCSS
// -----------------------------------------------------------------

// example
$asset-logo: 'https://atlanticbb.com/business/sites/all/themes/progressive/progressive_sub/logo.png';

// COLORS
// -----------------------------------------------------------------
//      assign your colors to color variables. These are to be used
//      in the custom branding
// -----------------------------------------------------------------
$white: #fff;
$gray: #eaeaea;
$black: #000;
$purple: #78359f;
$blue: #009abf;
$dropdown-gray: #61788e;
$color-active: #3d7cc2;
$header-top-blue-link: #4087c4;
$header-top-link-border: #b8b8b8;
$secondary-footer-bg: #323e4e;

// COLOR USAGE
// ---------------------------------------------------------
//      assign variables for all of the custom colors for the customization
//      and use only the variables in the actual SCSS.
//      Add as many variables as needed.
// ---------------------------------------------------------
$header-primary-bg: $white;

$dropdown-border-color: $gray;
$dropdown-color: $white;
$dropdown-bg: $dropdown-gray;
$dropdown-hover-bg: $blue;
$dropdown-hover-color: $white;

$phone-color: #373737;
$blue-btn-bg: #3b81c2;
$link-color: #404d74;

$footer-bg: $gray;
$foote-secondary-bg: $secondary-footer-bg;
$footer-text-color: $secondary-footer-bg;

// OTHER VARIABLES
// ---------------------------------------------------------
//      Any other variables that you might need can be placed
//      here.
//      For example, if you notice that you need a custom padding in
//      multiple places it might be worthwhile to create a
//      variable called
// ---------------------------------------------------------
$nav-item-padding: 12px 10px; // example only
$custom-font: 'Open Sans', Arial, Helvetica, sans-serif;
$content-blank: ' ';
