// ASSETS
// -----------------------------------------------------------------
//      assign your assets to variables here. It is recommended that
//      you use the URLs from the company website whenever possible.
//      and use that url in the SCSS
// -----------------------------------------------------------------
$asset-logo: "https://d3bql97l1ytoxn.cloudfront.net/channel_custom_style_resources/img4859051096707236113?d59558a6dae4db78e467d6c93a2ca8a1";

// COLORS
// -----------------------------------------------------------------
//      assign your colors to color variables. These are to be used
//      in the custom branding.
//      For appdirect specific colors use prefix ad-. e.g. $ad-blue: #00f
//      For theme-based colors use prefix custom- e.g. $custom-blue: #00e.
// -----------------------------------------------------------------
$ad-white: #fff;
$ad-white-shade1: #fff;
$ad-white-shade2: #ffffff;
$ad-white-shade3: #f4f3f2;

$ad-black: #000;
$ad-blue: #00f;
$ad-green: #008000;

$ad-gray-shade1: #9c9c9c;
$ad-gray-shade2: #585858;
$ad-gray-shade3: #575757;
$ad-gray-shade4: #c9c9c9;
$ad-gray-shade5: #808080;
$ad-gray-shade6: #cbcbcb;

$primary: $ad-black;
$secondary: $ad-blue;
$tertiary: $ad-gray-shade5;
$emphasis: $ad-green;

$theme-primary: #1a3f71;
$theme-secondary: #1a75bb;

// THEME VARIABLES
// -----------------------------------------------------------------
//      variables to customize the header and footer
// -----------------------------------------------------------------
$header-primary-bg: $ad-white-shade2;
$header-primary-border-top-color: $theme-secondary;
$header-primary-border-bottom-color: $ad-gray-shade6;
$header-primary-logo-height: 65px;
$header-primary-logo-width: 130px;
$header-primary-font-size: 16px;
$header-primary-font-color: $theme-primary;
$header-primary-font-color_hover: $theme-secondary;
$header-primary-color_active: $theme-secondary;

$dropdown-border-color: $ad-gray-shade5;
$dropdown-border_width: 1px;
$dropdown-border-radius: 3px;
$dropdown-item-divider: $dropdown-border-color;
$dropdown-item-divider_width: 1px;
$dropdown-item-color: $ad-black;
$dropdown-bg: $ad-white;
$dropdown-item-hover-bg: $theme-secondary;
$dropdown-item-hover-color: $ad-white;

$secondary-nav-search-button-color: $ad-white;
$secondary-nav-search-button-color_hover: $ad-white;
$secondary-nav-search-button-border-color: $theme-secondary;
$secondary-nav-search-button-bg: $theme-secondary;
$secondary-nav-search-button-bg_hover: $theme-secondary;

$secondary-nav-selected-text-color: $ad-gray-shade3;
$secondary-nav-selected-item-border-color: $theme-secondary;

$footer-height: 65px;
$footer-primary-bg: transparent;
$footer-primary-border-top: $ad-gray-shade4;
$footer-secondary-bg: $ad-blue;
$footer-links-color: $ad-gray-shade1;

// BUILD THEME CSS
// -----------------------------------------------------------------
@import "settings";

// import computed values
@import "components/INDEX";

// import custom CSS