body {
	font-family: SimpleSans, Arial, sans-serif;
}

// To avoid extra blank space in content area for pages having less content
.adb-page {
	margin-bottom: 0 !important;
	min-height: calc(100vh - #{$footer-height}) !important;
}

.adb-page--footer_helper {
	padding-bottom: 20px !important;
}

.adb-link__nav.adb-is-selected {
	background-color: #006080 !important;
}

.adb-tertiary {
	&_nav--link {
		color: #003857 !important;

		&:focus,
		&:hover {
			color: #00a9e0 !important;
		}

		&:before {
			background-color: #00a9e0 !important;
		}
	}
}

.adb-slat--content {
	color: #003857 !important;
}
