$header-primary-logo-margin-top: $header-primary-logo-height / 4;
$header-primary-height: $header-primary-logo-height + 2 * $header-primary-logo-margin-top;
$header-primary-font-color_active: $header-primary-font-color_hover;
$dropdown-item-font-size: $header-primary-font-size * 0.875;

// generates the link styling in the header. Needed as the
// companies dropdown has slightly different classes than other dorpdowns.
%nav-link {
	color: $header-primary-font-color;
	font-size: $header-primary-font-size;
	margin-left: 1.5em;
	padding: 8px 15px;
	text-transform: uppercase;

	&:focus,
	&:hover {
		color: $header-primary-font-color_hover !important;
		font-weight: normal !important;
		text-decoration: none;
		background: $header-primary-menu-item-bg_hover;
		border-radius: 17px;
	}

	&::after {
		display: none;
	}
}

// generates the active state for the header nav.
%active-state {
	color: $header-primary-color_active;
	font-weight: bold;
}
